---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=493b35696b6907219cca0c19c9170fed&artist=Cher&format=json&method=artist.search&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www207
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish8
    body:
      encoding: UTF-8
      string: |
        {"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Cher","startPage":"1"},"opensearch:totalResults":"1558","opensearch:startIndex":"0","opensearch:itemsPerPage":"30","artistmatches":{"artist":[{"name":"Cher","listeners":"890186","mbid":"bfcc6d75-a6a5-4bc6-8282-47aec8531818","url":"http:\/\/www.last.fm\/music\/Cher","streamable":"1","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/93299741.png","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/93299741.png","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/93299741.png","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/93299741.png","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/93299741\/Cher.png","size":"mega"}]},{"name":"Eagle-Eye Cherry","listeners":"701522","mbid":"","url":"http:\/\/www.last.fm\/music\/Eagle-Eye+Cherry","streamable":"1","image":[{"#text":"h[...]
[...]
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=493b35696b6907219cca0c19c9170fed&artist=Cher&format=json&method=artist.search&page=%7B:page=%3E1%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www234
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish7
    body:
      encoding: UT[...]
